
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
}



ul , li , ol {
    padding: 0px;
    margin: 0px;
}


body {
    font-family: "Roboto";
    
}

.container {
    width: 1170px;
    margin: auto;
}


/* header & footer */

nav {
    justify-content: space-between;
}


.header-info-links, .header-info-list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    font-weight: 500;
    user-select: none;
}

.name-add {
    color: rgba(33, 150, 243, 1);
    font-family: "Raleway"
}

.name {
    font-family: "Raleway"
}

.header-info-item {
    color: rgba(117, 117, 117, 1);
}

.header-info-items:hover {
    color: rgba(33, 150, 243, 1);
    cursor: pointer;
}

.header-info {
    display: flex;
    height: 80px;
    align-items: center;
}

.footer-info {
    background-color: rgba(47, 48, 58, 1);
    height: 252px;
    display: flex;
    align-items: center;
}

.footer-info-list :first-child {
   font-weight: 400;
   line-height: 24px;
   letter-spacing: 3%;
   color: rgb(255, 255, 255);
}

.footer-info-items {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
    color: rgba(255, 255, 255, 0.6) ;
}

.footer-info-list {
   font-weight: 400;
   line-height: 24px;
   letter-spacing: 3%;
   color: rgba(255, 255, 255, 1);
   list-style: none;
}


/* business */

.business-section {
    background-color: rgba(47, 48, 58, 1);
    color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px 452px 200px 452px;
}

.business-section-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 6%;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
}

.bussiness-section-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 6%;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(33, 150, 243, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    border: none;
    display: flex;
    justify-self: center;
    margin-top: 20px;
    padding: 7px 30px 7px 30px;
}

.bussiness-section-button:hover {
   background-color: rgb(33, 105, 243);
}

.bussiness-section-button:active {
   background-color: rgb(33, 75, 243);
}


/* desciption */

.description-section {
    padding-bottom: 94px;
    padding-top: 94px;
}

.description-section-list {
    list-style: none;
    display: flex;
    gap: 30px;    
}

.description-section-items {
    max-width: 270px;
}

.description-section-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 3%;
    text-transform: uppercase; 
    margin-bottom: 10px;
}

.description-section-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
    color: rgba(117, 117, 117, 1);
}


/* Images */     

.images-section {
    padding-bottom: 94px;
}

.images-section-title {
    margin-bottom: 50px;
    justify-self: center;
}


.images-section-item {
    width: 370px;
    height: 294px;
    gap: 60px;
}

.images-section {
    display: flex;
    gap: 60px;
    justify-content: center;
    margin-bottom: 94px;
}

.container-images {
    display: flex;
    gap: 30px;
}

/* team-waters */

.team-section {
    padding-top: 94px;
    padding-bottom: 94px;
    display: flex;
    justify-content: center;
    flex-direction: column;    
    align-items: center;
    background-color: rgba(245, 244, 250, 1);
}

.team-section > .container{
    display: flex;
    justify-content: center;
    gap: 30px;
}


.team-section-people {
    background-color: rgba(255, 255, 255, 1);
}

.team-section-image {
    width: 270px;
    height: 260px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.team-section-people {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding-bottom: 30px;
   border-radius: 4px;
}

.team-section-people-info {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 30px;
}

.team-section-title {
    justify-self: center;
    margin-bottom: 50px;
}

.team-section-people-descripton {
    color: rgba(117, 117, 117, 1);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 3%;
    text-align: center;
    margin-top: 10px;
}

.team-section-people-name {
    color: rgba(33, 33, 33, 1);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 3%;
    text-align: center;
}